<div class="example-container">
  <md-input-container class="example-full-width">
    <input mdInput placeholder="Enter name of the movie to search for .." [(ngModel)]="searchString">
  </md-input-container>
  <div class="button-row">
    <button md-raised-button (click)="searchMovie()">Search</button>
  </div>
</div>


<div>
  <md-list>
    <md-list-item *ngFor="let movie of resultMovies">
      <a href="http://www.imdb.com/title/{{ movie.imdbID }}/" target="_blank"><md-icon>home</md-icon></a>
      <i class="material-icons">theaters</i>{{ movie.Title }}
    </md-list-item>
  </md-list>

</div>

<div>
  <md-card class="example-card">
    <md-card-header>
      <div md-card-avatar class="example-header-image"></div>
      <md-card-title>Shiba Inu</md-card-title>
      <md-card-subtitle>Dog Breed</md-card-subtitle>
    </md-card-header>
    <img md-card-image src="assets/img/examples/shiba2.jpg">
    <md-card-content>
      <p>
        The Shiba Inu is the smallest o8f the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </md-card-content>
    <md-card-actions>
      <button md-button>LIKE</button>
      <button md-button>SHARE</button>
    </md-card-actions>
  </md-card>

  <md-card class="example-card">
    <md-card-header>
      <div md-card-avatar class="example-header-image"></div>
      <md-card-title>Shiba Inu</md-card-title>
      <md-card-subtitle>Dog Breed</md-card-subtitle>
    </md-card-header>
    <img md-card-image src="assets/img/examples/shiba2.jpg">
    <md-card-content>
      <p>
        The Shiba Inu is the smallest o8f the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </md-card-content>
    <md-card-actions>
      <button md-button>LIKE</button>
      <button md-button>SHARE</button>
    </md-card-actions>
  </md-card>

  <md-card class="example-card">
    <md-card-header>
      <div md-card-avatar class="example-header-image"></div>
      <md-card-title>Shiba Inu</md-card-title>
      <md-card-subtitle>Dog Breed</md-card-subtitle>
    </md-card-header>
    <img md-card-image src="assets/img/examples/shiba2.jpg">
    <md-card-content>
      <p>
        The Shiba Inu is the smallest o8f the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </md-card-content>
    <md-card-actions>
      <button md-button>LIKE</button>
      <button md-button>SHARE</button>
    </md-card-actions>
  </md-card>
</div>