<h1>
  {{title}}
</h1>

<app-dashboard></app-dashboard>

<footer>
  <div>
    sample search: http://www.omdbapi.com/?s=matrix
  </div>
  <div>
    sample title: http://www.omdbapi.com/?t=matrix
  </div>
  <div>
    http://www.omdbapi.com/?s=Batman&page=2
  </div>
  <div>
    http://stackoverflow.com/questions/23961194/java-json-decode-from-omdb-imdb-api-using-java
  </div>
  <div>
    http://stackoverflow.com/questions/2793150/using-java-net-urlconnection-to-fire-and-handle-http-requests
  </div>

  <div>
    https://www.themoviedb.org/documentation/api
  </div>
</footer>
