.error {
    background-color: lightpink;
}

.poster-image {
    max-height: 120px;
    vertical-align: top;
}

.imdb-block {
    display: inline-block;
    max-width: 75%;
    vertical-align: top;
}

.imdb-block-image {
    display: inline-block;
    max-width: 24%;
    vertical-align: top;
}

.imdb-section {
    background-color: aliceblue;
    max-width: 49%;
    display: inline-block;
    vertical-align: top;
}

.tmdb-section {
    background-color: antiquewhite;
    max-width: 49%;
    display: inline-block;
    vertical-align: top;
}